[submodule "src/meta_audiocraft"]
	path = src/meta_audiocraft
	url = https://github.com/facebookresearch/audiocraft.git
[submodule "src/vampnet"]
	path = src/vampnet
	url = https://github.com/MikolajSzawerda/vampnet.git
